{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}

	<main role="main" class="container">
    <h1>Register</h1>

    {{ form_start(registrationForm) }}
        {{ form_row(registrationForm.email) }}
        {{ form_row(registrationForm.plainPassword) }}
        {{ form_row(registrationForm.agreeTerms) }}

         <button class="btn btn-lg btn-primary" type="submit">Register</button>
    {{ form_end(registrationForm) }}
    </main>
{% endblock %}
