	<footer>
		<script src="https://code.jquery.com/jquery-3.3.1.min.js" ></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"  crossorigin="anonymous"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" crossorigin="anonymous"></script>
		<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js" crossorigin="anonymous"></script>
		
		<script>
{% if is_granted('IS_AUTHENTICATED_FULLY') %}			
	var lists = [];
	var lists_old= [];
	var user_bfr =  "/api/users/{{app.user.id}}"
	$( document ).ready(function() {
		$("#loader").show();
		$.get( "/api/users/{{app.user.id}}/shopping_lists", async function( data ) {
			for (var i = 0; i < data['hydra:member'].length; i++) {
				let l = data['hydra:member'][i]
				lists[lists.length] = l
		}
		lists_old = JSON.parse(JSON.stringify(lists))
		$("#loader").hide();

		let vm = new Vue({
			el: '#lists',
			data: {
				todos: lists,
				newTodoText:"New List"
			},			      
			methods: {
				reverseMessage: async function (id) {
					$("#loader").show();
					for (var i = 0; i < lists.length; i++) {
						if(lists[i]["id"] == id){
							if(lists[i]["ShoppingItems"] && 
								typeof lists[i]["ShoppingItems"][0] === "string")
							{
									for (var j = 0; j < lists[i]["ShoppingItems"].length; j++) {
										await $.get( lists[i]["ShoppingItems"][j], async function( d ) {
											let item = {}
											item["id"] = d["id"]
											item["checked"] = d["checked"]
											item["item"] = d["item"]
											item["shoppingList"] = d["shoppingList"]
											lists[i]["ShoppingItems"][j] = item

										});
								}
							}
							$("#loader").hide();
							$("#list").show();
							lists_vm.todo = lists[i]["ShoppingItems"]
							lists_vm.listid = i;
							lists_vm.shoppingList="/api/shopping_lists/"+lists[i]["id"]
							$("#lists").hide();
							break;
						}

					}
				},
				addNewTodo: function () {
					$.ajax({
					  url: '/api/shopping_lists',
					  type: 'POST',
					  contentType : "application/json",
					  data: JSON.stringify({
					  	User:user_bfr,
					  	title:this.newTodoText,
					  	ShoppingItems:[]
					  }
					  ),
					  success : function(data){
					  	lists.push({
					  		"title":data.title,
					  		"id":data.id,
					  		"User":data.User,
					  		"ShoppingItems":data.ShoppingItems
					  	})
					  	lists_old[lists_old.length] = {
					  		"title":data.title,
					  		"id":data.id,
					  		"User":data.User,
					  		"ShoppingItems":data.ShoppingItems
					  	}
					  }

					});
					/*/this.todos.push({
						
					})*/

				}
			}
		})
		let lists_vm= new Vue({
			el: '#list',
			data: {
				todo: [],
				shoppingList:"",
				listid:0,
				newTodoText:""
			},
			methods: {
				addNewTodo: function () {
					this.todo.push({
						item: this.newTodoText,
						shoppingList: this.shoppingList,
						checked:false
					})
					this.newTodoText=""
				},
				back:function(){
					$("#list").hide();
					$("#lists").show();
				},
				save:function(){
					for (var i = 0; i < this.todo.length; i++) {
						if( i < lists_old[this.listid]["ShoppingItems"].length ){
							if(this.todo[i]["checked"] != lists_old[this.listid]["ShoppingItems"][i]["checked"]  ){
								$.ajax({
								  url: '/api/shopping_items/'+this.todo[i]["id"],
								  type: 'PUT',
								  contentType : "application/json",
								  data: JSON.stringify(this.todo[i])
								});
							}
						}else{
							$.ajax({
							  url: '/api/shopping_items',
							  type: 'POST',
							  contentType : "application/json",
							  data: JSON.stringify(this.todo[i])
							});
						}
					}
				}
			}
		});


	});
});
	{% endif %}
</script>
</footer>