{% extends 'base.html.twig' %}

{% block body %}
	<main role="main" class="container">
	  <div class="starter-template">
	    <h1>My list</h1>
	    <div class="spinner_containner">
			<div class="spinner-border" role="status" id="loader" style="display: none;">
			  <span class="sr-only">Loading...</span>
			</div>
		</div>
		<div id="lists">
			<ul>
				<li v-for="todo in todos" >
					<a v-on:click="reverseMessage(todo.id)" v-text="todo.title" ></a>
				</li>
				<form v-on:submit.prevent="addNewTodo">
					<input type="text" v-model="newTodoText">
				</form>
			</ul>
		</div>
		<div id="list" style="display: none">
			<form v-on:submit.prevent="back">
				<button class="btn btn-dark btn_small">
					Back
				</button>
			</form>
			<ul>
				<li v-for="item in todo" >
					<input type="checkbox"
					v-model="item.checked" v-bind:id="item.id"
					/>
					<span v-text="item.item" ></span>    	
				</li>
				<form v-on:submit.prevent="addNewTodo">
					<input type="text" v-model="newTodoText">
				</form>
				<form v-on:submit.prevent="save">
					<button class="btn btn-dark btn_small">
						Save
					</button>
				</form>
			</ul>
		</div>
	  </div>
	</main>
{% endblock %}
