<!DOCTYPE html>
<html lang="en">
	{{ include('default/includes/head.html.twig') }}
	{% block stylesheets %}{% endblock %}
<body>
	<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
	  <a class="navbar-brand" href="#">List</a>
	  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
	    <span class="navbar-toggler-icon"></span>
	  </button>

	  <div class="collapse navbar-collapse" id="navbarsExampleDefault">
	     <ul class="navbar-nav mr-auto">
	       <li class="nav-item">
	         <a class="nav-link" href="{{ path('app') }}">Home</span></a>
	       </li>
		{% if is_granted('IS_AUTHENTICATED_FULLY') %}
	    <li class="nav-item">
	    	<a class="nav-link" href="{{ path('app_logout') }}">Logout</span></a>
		<li>
		{% else %}
		<li class="nav-item">
			<a class="nav-link" href="{{ path('app_login') }}">LogIn</span></a>
		<li>
		<li class="nav-item">
			<a class="nav-link" href="{{ path('app_register') }}">SignUp</span></a>
		<li>
		{% endif %}
			</ul>
		</div>
	</nav>

	{% block body %}{% endblock %}
	{{ include('default/includes/footer.html.twig') }}
	{% block javascripts %}{% endblock %}
</body>
</html>